# Lab | Web Scraping Single Page (GNOD part 1)

In [34]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [35]:
url = "https://www.popvortex.com/music/charts/top-100-songs.php"

In [36]:
response = requests.get(url)

In [37]:
response.status_code

200

In [38]:
soup = BeautifulSoup(response.content, "html.parser")

We try to find the correct path in the web.

In [39]:
# body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper

In [40]:
# soup.select('body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper')

In [41]:
#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p > cite

In [42]:
# soup.select('div.chart-content.col-xs-12.col-sm-8 > p > cite')

We try with '.title' and it works (thanks to Lilit). It seems like only 'cite' tags have the attribute 'title'.

In [43]:
songs = soup.select('.title')
artists = soup.select('.artist')

In [44]:
# songs

In [45]:
# artists

We get the text from each tag and store them in lists that we then transform into a dataframe.

In [46]:
titles = []
for cite in songs:
    titles.append(cite.get_text())

In [47]:
singers = []
for cite in artists:
    singers.append(cite.get_text())

In [48]:
top100_20230905 = pd.DataFrame({"title":titles,
                       "artist":singers,
                      })

In [49]:
top100_20230905

                           title                   artist
0                 Margaritaville            Jimmy Buffett
1                    Come Monday            Jimmy Buffett
2     Rich Men North of Richmond     Oliver Anthony Music
3                       All Star              Smash Mouth
4       Cheeseburger In Paradise            Jimmy Buffett
..                           ...                      ...
95      Barbie World (with Aqua)  Nicki Minaj & Ice Spice
96  Can't Get Enough of You Baby              Smash Mouth
97                      Daylight            David Kushner
98                  Strokey Doke   Shazam Conner & H-Town
99        You're the Inspiration                  Chicago

[100 rows x 2 columns]